footer {

  .footer {
    background-color: $mainGrey;
    font-size: rem(10);
    font-family: "GothamBook";
    text-transform: uppercase;
    padding: 15px 0;

    .left {
      padding-top: 2px;
      a {
        span {
          margin-right: 27px;
          color: $red;
          font-size: rem(18);
          @include tablet() {
            margin: 0 10px;
          }
        }
        .fa {
          vertical-align: middle;
        }
      }
      @include tablet() {
        text-align: center;
      }
      .copyright {
        @include tablet() {
          width: 100%;
          display: block;
          text-align: center;
          padding: 10px;
          margin: 0 10px;
        }
        @include sm() {
          margin: 0;
        }
      }
    }

    .menu-bottom-menu-container {
      float: right;
      @include tablet() {
        float: none;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        @include tablet() {
          text-align: center;
          margin-right: 0;
          margin: 0 10px;
        }
        li {
          list-style-type: none;
          display: inline-block;
          text-transform: uppercase;
          margin-right: 27px;
          @include tablet() {
            margin-right: 0;
            margin: 0 10px;
          }
          &:last-of-type {
            &:after {
              font-family: FontAwesome;
              content: "\f02f";
              margin-left: 8px;
              color: $red;
              font-size: rem(18);
              vertical-align: middle;
            }
          }
          a {
            font-weight: normal;
          }
        }
      }
    }
  }
}
.cookiebanner {
  background: $mainGrey!important;
  line-height: 50px!important;
  min-height: 57px!important;
  color: black!important;
  span {
    a {
      color: #444!important;
    }
  }
}