.header {
  display: block;
  height: 610px;
  position: relative;
  background: $mainGrey url('../images/main-bcg.jpg');
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: center center!important;

  .top {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  .logo {
    margin-bottom:40px;
    img {
      max-width: 100%;
      height: auto;
    }
    @include sm() {
      text-align: center;
      max-width: 70%;
      height: auto;
    }
  }
  .social-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    @include sm() {
      text-align: center;
    }
    a.social {
      display: inline-block;
      height: 30px;
      width: 30px;
      border: white solid 1px;
      color: white;
      text-align: center;
      margin: 0 3px;
      @include sm() {
        margin-bottom: rem(10);
      }
      &:hover {
        background: white;
        color: $red;
        transition:.3s;
      }
      span {
        line-height: 30px;
        font-size: rem(14);
      }
    }
    a.contact-us-button {
      width: auto;
      background:rgba(255,255,255,.7);
      color: black;
      margin: 0 3px;
      height: 30px;
      display: inline-block;
      padding: 0 10px;
      text-transform: uppercase;
      line-height: 30px;
      font-size: rem(14);
      border:1px solid;
      border-color:rgba(255,255,255,.1);
      @include sm() {
        margin-bottom: rem(10);
      }
    }
    a.get {
      background: $main;
    }
  }
  .social-top.reversed {
    a.social {
      border: $red solid 1px;
      color: $red;
    }
  }
  .menu-holder {
    ul {
      list-style-type: none;
      text-align: right;
      margin: 0;
    }
    li {
      display: inline-block;
      float: none;
    }
  }

  .header-holder {
    position: fixed;
    padding-top: 15px;
    z-index: 10;
    @include sm() {
      position: relative;
    }

    .logo  {
      @include lg() {

      }
      img {
        @include scale(1.0);
        transform-origin: left;
        transition: all .2s ease-in-out;
      }
    }
  }
  .header-sticky {
    background: rgba($mainGrey,.8);
    padding-top: 7px;
    @include sm() {
      padding-top: 15px;
      background:none;
    }

    .logo {
      margin-bottom: 7px;
      @include sm() {
        margin-bottom: 40px;
      }
      img {
        @include scale(.80);
        transform-origin: left;
        transition: all .2s ease-in-out;
        @include tablet() {
          @include scale(1.0);
        }
      }
    }

    .social-top {
      margin-top: rem(17);
      .social {

        @include sm() {
          border:1px solid white;
          color:white;
        }
      }
    }
  }

  .titles-holder {
    background: rgba($main, .9);
    position: absolute;
    bottom: 0;

    .header-title {
      display: block;
      width:100%;
      font-size: rem(34);
      line-height: rem(38);
      padding: rem(14) rem(25);
      line-height: 33px;
      text-align: center;
      color: nearBlack;
      border-bottom: 1px solid $nearBlack;
      margin-bottom: rem(6);
      @include sm() {
        text-align: center;
        font-size: rem(28);
        line-height: rem(32);
      }
      p{
        margin: 0;
        font-size: rem(38);
        line-height: rem(38);
        @include sm() {
          text-align: center;
          font-size: rem(28);
          line-height: rem(32);
        }
        strong {
          font-weight: 500;
        }
      }
    }

    .featured {
      text-align: center;
      @include featured;
      padding-bottom: 0px;
      p {
        font-size: rem(22);
        line-height: rem(30);
        @include sm() {
          font-size: rem(22);
          line-height: rem(26);
        }
      }
    }
  }
}