@import '_reboot';
@import '_mixins';
@import '_settings';
@import '_grid';
@import '_fonts';
@import '_header';
@import '_menu';
@import '_video';
@import '_page-front';
@import '_article';
@import '_footer';
@import '_page-contact';
@import '_contact-form';
@import '_gallery';
@import '_404';
@import '_wpcore';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $nearBlack;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}